In [1]:
# import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#path import
path = r'C:\Users\guzic\Contacts\Instacart Grocery Basket Analysis'

In [4]:
# pickel file import

ords_prods_cust_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepped Data', 'ords_prods_cust_merged.pkl'))

In [ ]:
# Need to make sure to do below since it was not saved at end of 4.9

ords_prods_cust_merge.loc[ords_prods_cust_merge['prices'] >100, 'prices'] = np.nan
ords_prods_cust_merge['prices'].max()

In [5]:
# import check

ords_prods_cust_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,dependants,fam_status,income
0,2539329,1,1,2,8,100000,196,1,0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [5]:
ords_prods_cust_merge.shape

(32404859, 33)

In [7]:
# Command for copying and pasting cross tab into an excel document: 

##  crosstab.to_clipboard()

In [8]:
# 2 - Consider any security implications that might exist for this new data. 
# You’ll need to address any PII data in the data before continuing your 
# analysis.

In [9]:
# The data includes people's first and last names, those need to be dropped/removed

In [6]:
# removing the 'first_name' & 'last_name'columns

ords_prods_cust_merge = ords_prods_cust_merge.drop(columns = ['first_name', 'last_name'])

In [11]:
# new dataframe check

ords_prods_cust_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,spending_flag,frequency_customer,frequency_flag,gender,state,age,date_joined,dependants,fam_status,income
0,2539329,1,1,2,8,100000,196,1,0,both,...,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,both,...,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,both,...,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

In [12]:
# 3 - The Instacart officers are interested in comparing customer behavior in
# different geographic areas. Create a regional segmentation of the data. 
# You’ll need to create a “Region” column based on the “State” column from your 
# customers data set.
# Use the region information in this Wikipedia article to create your column 
# (you only need to create regions, not divisions).

# Determine whether there’s a difference in spending habits between the 
# different U.S. regions. (Hint: You can do this by crossing the variable you just 
# created with the spending flag.)

In [13]:
# Creating a For-Loop for regions

In [7]:
region = []
for value in ords_prods_cust_merge['state']:
  if (value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']):
    region.append('Northeast')
  elif (value in ['Wisconsin', 'Michigan', 'Illinois', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Minnesota', 'Iowa', 'Missouri']):
    region.append('Midwest')
  elif (value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']):
    region.append('South')
  else:
    region.append('West')

In [15]:
# running loop

region

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 ...]

In [8]:
# combining with ords_prods_cust_merge2 dataset & creating column

ords_prods_cust_merge['region'] = region

In [17]:
# Frequency/Value Count Check

ords_prods_cust_merge['region'].value_counts(dropna = False)

South        10791885
West          9557733
Midwest       6332505
Northeast     5722736
Name: region, dtype: int64

In [18]:
# flag check

ords_prods_cust_merge[['region', 'state']].head(20)

   region    state
0   South  Alabama
1   South  Alabama
2   South  Alabama
3   South  Alabama
4   South  Alabama
5   South  Alabama
6   South  Alabama
7   South  Alabama
8   South  Alabama
9   South  Alabama
10  South  Alabama
11  South  Alabama
12  South  Alabama
13  South  Alabama
14  South  Alabama
15  South  Alabama
16  South  Alabama
17  South  Alabama
18  South  Alabama
19  South  Alabama

In [19]:
# Determine whether there’s a difference in spending habits between the 
# different U.S. regions. (Hint: You can do this by crossing the variable you just 
# created with the spending flag.)

In [20]:
ords_prods_cust_merge.groupby('region')['spending_flag'].value_counts()

region     spending_flag
Midwest    Low spender       6204849
           High spender       127656
Northeast  Low spender       5614511
           High spender       108225
South      Low spender      10582194
           High spender       209691
West       Low spender       9369060
           High spender       188673
Name: spending_flag, dtype: int64

In [1]:
# Looking at the numbers, the South region has the highest amoount of high-spenders

In [20]:
crosstab = pd.crosstab(ords_prods_cust_merge['region'], ords_prods_cust_merge['spending_flag'], dropna = False)

In [21]:
# Copy and paste into new excel

crosstab.to_clipboard()

In [22]:
#4 - The Instacart CFO isn’t interested in customers who don’t generate much 
# revenue for the app. Create an exclusion flag for low-activity customers 
# (customers with less than 5 orders) and exclude them from the data. 
# Make sure you export this sample.

In [23]:
# create low activity flag

In [9]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['max_order'] >= 5, 'activity_flag'] = 'Active'

In [10]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['max_order'] < 5, 'activity_flag'] = 'Not Active'

In [23]:
# run checks

In [24]:
ords_prods_cust_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,frequency_flag,gender,state,age,date_joined,dependants,fam_status,income,region,activity_flag
0,2539329,1,1,2,8,100000,196,1,0,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active
2,473747,1,3,3,12,21.0,196,1,1,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active
4,431534,1,5,4,15,28.0,196,1,1,both,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active

In [25]:
ords_prods_cust_merge['activity_flag'].value_counts(dropna = False)

Active        30964564
Not Active     1440295
Name: activity_flag, dtype: int64

In [26]:
# create and export the not active clients into an excel

low_activity_custs = ords_prods_cust_merge[ords_prods_cust_merge['activity_flag']=='Not Active']

In [27]:
# check to make sure the Not active amounts match

low_activity_custs.shape

(1440295, 33)

In [28]:
low_activity_custs.to_pickle(os.path.join(path, '02 Data','Prepped Data', 'low_activity_custs.pkl'))

In [11]:
# create NEW dataframe with just Active customers

ords_prods_cust_merge = ords_prods_cust_merge[ords_prods_cust_merge['activity_flag']=='Active']

In [12]:
# shape check

ords_prods_cust_merge.shape

(30964564, 33)

In [11]:
# 5 - The marketing and business strategy units at Instacart want to create 
# more-relevant marketing strategies for different products and are, thus, 
#curious about customer profiling in their database. Create a profiling 
# variable based on age, income, certain goods in the “department_id” column, 
# and number of dependents. You might also use the “orders_day_of_the_week” 
# and “order_hour_of_day” columns if you can think of a way they would impact
# customer profiles. 

#(Hint: As an example, try thinking of what 
# characteristics would lead you to the profile “Single adult” or 
# “Young parent.”)

In [13]:
# Classifying age groups by generation 

generation = []
for value in ords_prods_cust_merge["age"]:
  if (value > 18) and (value <= 25):
    generation.append("Gen-Z, 18-25")
  elif (value > 25) and (value <= 41): 
    generation.append("Millenial, 25-41")
  elif (value > 41) and (value <= 57):
    generation.append("Gen-X, 42-57")
  elif (value > 58) and (value <= 67):
    generation.append("Boomers II, 58-67")
  elif (value > 67) and (value <= 76):
    generation.append("Boomers I, 67-76")
  elif (value > 76) and (value <= 94):
    generation.append("Post War, 76-95=4")
  else:
    generation.append("WWII, 95+")

In [14]:
# RUN CHECKS

ords_prods_cust_merge['generation'] = generation

In [16]:
# Distribution of the profile:

ords_prods_cust_merge['generation'].value_counts(dropna = False)

Gen-X, 42-57         7829801
Millenial, 25-41     7735184
Boomers I, 67-76     4367645
Boomers II, 58-67    4251522
Gen-Z, 18-25         3386061
Post War, 76-95=4    2436052
WWII, 95+             958299
Name: generation, dtype: int64

In [ ]:
ords_prods_cust_merge['generation'].describe()

In [17]:
# Classifying income by Economic Class

economic_class = []
for value in ords_prods_cust_merge["income"]:
  if (value > 156600):
    economic_class.append("Upper, more than $156k")
  elif (value <= 156600) and (value > 52200): 
    economic_class.append("Middle")
  else:
    economic_class.append("Lower, less than $52200")

In [18]:
# RUN CHECKS

ords_prods_cust_merge['economic_class'] = economic_class

In [20]:
# Distribution of the profile:

ords_prods_cust_merge['economic_class'].value_counts(dropna = False)

Middle                     24540648
Lower, less than $52200     3692453
Upper, more than $156k      2731463
Name: economic_class, dtype: int64

In [ ]:
ords_prods_cust_merge['economic_class'].describe()

In [21]:
# classifying by dependants

In [21]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['dependants'] == 0, 'parent_status'] = 'Non-parent'

In [22]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['dependants'] >= 1, 'parent_status'] = 'Parent'

In [23]:
# Distribution of the profile:

ords_prods_cust_merge['parent_status'].value_counts(dropna = False)

Parent        23224883
Non-parent     7739681
Name: parent_status, dtype: int64

In [ ]:
ords_prods_cust_merge['parent_status'].describe()

In [25]:
# changing the numbers to to actual days of the week

In [24]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 0, 'day_of_week'] = 'Saturday'

In [25]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 1, 'day_of_week'] = 'Sunday'

In [26]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 2, 'day_of_week'] = 'Monday'

In [27]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 3, 'day_of_week'] = 'Tuesday'

In [28]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 4, 'day_of_week'] = 'Wednesday'

In [30]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 5, 'day_of_week'] = 'Thursday'

In [31]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['orders_day_of_the_week'] == 6, 'day_of_week'] = 'Friday'

In [34]:
# Distribution of the profile:

ords_prods_cust_merge['day_of_week'].value_counts(dropna = False)

Saturday     5908610
Sunday       5411686
Friday       4291304
Thursday     4033729
Monday       4024706
Tuesday      3669535
Wednesday    3624994
Name: day_of_week, dtype: int64

In [ ]:
ords_prods_cust_merge['day_of_week'].describe()

In [35]:
# classifying by department id
# reference the previously created data dictionary to creation the .loc functions

In [36]:
# CREATE FOR EACH DEPARTMENT

ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 1, 'department_name'] = 'Frozen'

In [37]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 2, 'department_name'] = 'Other'

In [38]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 3, 'department_name'] = 'Bakery'

In [39]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 4, 'department_name'] = 'Produce'

In [40]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 5, 'department_name'] = 'Alcohol'

In [41]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 6, 'department_name'] = 'International'

In [42]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 7, 'department_name'] = 'Beverages'

In [44]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 8, 'department_name'] = 'Pets'

In [45]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 9, 'department_name'] = 'Dry Goods Pasta'

In [46]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 10, 'department_name'] = 'Bulk'

In [47]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 11, 'department_name'] = 'Personal Care'

In [49]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 12, 'department_name'] = 'Meat Seafood'

In [50]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 13, 'department_name'] = 'Pantry'

In [51]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 14, 'department_name'] = 'Breakfast'

In [52]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 15, 'department_name'] = 'Canned Goods'

In [53]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 16, 'department_name'] = 'Dairy Eggs'

In [54]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 17, 'department_name'] = 'Household'

In [56]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 18, 'department_name'] = 'Babies'

In [57]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 19, 'department_name'] = 'Snacks'

In [58]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 20, 'department_name'] = 'Deli'

In [59]:
ords_prods_cust_merge.loc[ords_prods_cust_merge['department_id'] == 21, 'department_name'] = 'Missing'

In [62]:
# Distribution of the profile:

ords_prods_cust_merge['department_name'].value_counts(dropna = False)

Produce            9079273
Dairy Eggs         5177182
Snacks             2766406
Beverages          2571901
Frozen             2121731
Pantry             1782705
Bakery             1120828
Canned Goods       1012074
Deli               1003834
Dry Goods Pasta     822136
Household           699857
Meat Seafood        674781
Breakfast           670850
Personal Care       424306
Babies              410392
International       255991
Alcohol             144627
Pets                 93060
Missing              64768
Other                34411
Bulk                 33451
Name: department_name, dtype: int64

In [ ]:
ords_prods_cust_merge['department'].describe()

In [65]:
# shape check

ords_prods_cust_merge.shape

(30964564, 38)

In [68]:
ords_prods_cust_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'time_of_order', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_price', 'spending_flag', 'frequency_customer', 'frequency_flag',
       'gender', 'state', 'age', 'date_joined', 'dependants', 'fam_status',
       'income', 'region', 'activity_flag', 'generation', 'economic_class',
       'parent_status', 'day_of_week', 'department_name'],
      dtype='object')

In [66]:
# EXPORT NEW DATA TO START NEW SCRIPT FOR REST OF TASK! 

ords_prods_cust_merge.to_csv(os.path.join(path, '02 Data','Prepped Data', 'ords_prod.pkl'))